# music

## Solo recordings

- [Spring '17 (2017)](https://argosos.bandcamp.com/album/s-p-r-i-n-g-1-7)
- [las propiedades de un ser concreto](https://argosos.bandcamp.com/album/las-propiedades-de-un-ser-concreto)
- [The Protestant Reformation](https://argosos.bandcamp.com/album/the-protestant-reformation)
- [Desde Otra Ventanta](https://argosos.bandcamp.com/album/desde-otra-ventana)
